@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter.woff2') format('woff2');
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
}

@theme {
    /* Colores */
    --color-primary: #bfbfbf;

    /* Breakpoints */
    --breakpoint-xs: 350px;
    
    /* Fuente */
    --font-sans: 'Inter', system-ui, sans-serif;
}

.social-button {
    @apply p-2 size-10 xs:size-12 flex items-center justify-center rounded-full hover:scale-110 transition-transform;
}

.bg-main {
    @apply  max-w-xl mx-auto min-h-dvh bg-linear-to-b from-black via-sky-950 to-gray-800 px-3
}

.username-chip {
    @apply  text-sky-400 text-xl font-mono px-3 py-1 border rounded-full shadow-xs flex items-center justify-center bg-black/60 cursor-crosshair z-10
}